{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<video autoplay muted class="bg_video" loop id="myVideo">
  <source src="{{ asset('video/shortNature.mp4')}}" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<div style="background-color:#1d312cf2; padding-bottom: 20px; padding-top: 15px">
  <div class="display-flex content">
      <h1 class="text-center" style="color:white; font-family: 'Karla', sans-serif; font-size: 50px; opacity: 1">Recanto Mineiro</h1>
      <h4 class="text-center" style="color:white; font-family: 'Karla', sans-serif; font-size: 20px; opacity: 1">Restaurante e Hotel</h4>
  </div>
</div>

<style>
.bg_video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	background: url(images/torre.jpg) no-repeat;
	background-size: cover;
}
</style>

{% endblock %}
