{% extends 'base.html.twig' %}

{% block title %}Recanto Mineiro{% endblock %}

{% block body %}
    <link href="{{ asset("css/app.css") }}" rel="stylesheet">
    <div class="groupVideoTitulo">
        <video autoplay muted class="bg_video" loop id="myVideo">
            <source src="{{ asset('video/shortNature.mp4') }}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>

        <div class="tituloRecanto">
            <div class="contents">
                <h1 class="text-center">
                    Recanto Mineiro</h1>
                <h4 class="text-center"
                    style="color:white; font-family: 'Karla', sans-serif; font-size: 20px; opacity: 1">Restaurante e
                    Hotel </h4>
                <a href="#menu">
                    <i style="color: white" class="anchor fas fa-chevron-down"></i>
                </a>
            </div>

        </div>
    </div>
            <svg class="overvideo" viewBox="127 330 673 479">
                <path d="M 0 280 Q 142 95 328 178 Q 591 344 800 204 L 800 379 L 0 383 L 2 278 " style="stroke: none; fill:#414c42;"></path>
            </svg>
            <svg viewBox="0 0 500 150" preserveAspectRatio="xMinYMin meet">
                <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#414c42;"></path>
                <div id="menu" class="links d-flex flex-column ml-4">
                    <a style="text-decoration: none; !important;" href="#formReserva">Faça sua reserva</a>
                    <a style="text-decoration: none; !important;" href="#formReserva">Veja os proximos eventos</a>
                    <a style="text-decoration: none; !important;" href="#formReserva">Galeria</a>

                </div>
            </svg>
    <button class="ui icon button">
        <i class="cloud icon"></i>
    </button>


    <form style="z-index: 500; position: absolute">
        <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </form>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links
            $("a").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>
{% endblock %}
