{% extends 'base.html.twig' %}

{% block title %}Hello EventosController!{% endblock %}

{% block body %}

<form method="post">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">salvar</button>
    {{ form_end(form) }}
</form>
{% endblock %}
